
#new-user {
  /*display: none;*/
  margin-top: 10%;
}

/*.search {
  display: none;
}*/

#new-ride {
  display: none;
}

/*.ride-search{
  padding-top: 50px;
}*/

/*#ride-results{
  margin-top: 30px;
}*/

.jumbotron {
background-image: url('../img/jumbotron.jpeg');
background-size: cover;
background-position: center;
padding-top: 20%;
padding-bottom: 25%;
}

h1 {
  text-align: center;
}

.top {
width:auto;
display:inline-block;
}

#search-box {
  margin-top: -100px;
  text-align: center;
  width: 50%;
}

#register:hover {
  text-decoration: underline;
  cursor: pointer;
}

.new-user-screen {
  display: none;
  margin-top: 20px;
  border: 1px solid red;
}

.glyphicon {
  font-size: 50px;
}

#rides-list {
  margin-left: 10%;
}

.modal-backdrop {
  z-index: 1;
}

.my-navbar {
  padding-right: 15px;
  color: white;
}

/*.my-navbar > a {
  color: white;
}*/
.my-navbar > li > a {
  color: white;
  font-family: arial;
}
.my-navbar > li > a:hover {
  text-decoration: underline;
  background-color:
}

#search-box {
  width: 50%;
  display:inline-block;
  width: auto;
}


html, body {
    height: 90%;
}

h1 {
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  font-family: Arial;
  padding: .5em;
}
h2 {
  font-size: 1.9em;
  text-align: center;
  font-family: Arial;
}

h3 {
  font-family: Arial;
}

.container-1 {
    display: flex;
    height: 100%;
}

.flex {
    text-align: center;
    margin:auto;
    color: #fff;
    z-index: 101;
}

/**************************************
    Parralax styles
**************************************/
section.parallax {
    position: relative;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/**************************************
    Parralax blocks
**************************************/
section.parallax.background-1 {
    background-image: url("../img/1.jpg");
    height: 100%;
}

section.parallax.background-2 {
    background-image: url("../img/2.jpg");
    height: 100%;
}

section.parallax.background-3 {
    background-image: url("../img/way10.jpg");
    height: 100%;
}

section.parallax.background-4 {
    background-image: url("../img/way3.jpg");
    height: 100%;
}

.carousel-inner h2 {
  text-align: center;
}

#portfolio img {
  float:left;
}

.headline-1 {
  padding-top: 5%;
  text-align: center;
}

.headline-2 {
  padding: 5% 0 1% 5%;
}

.item p {
  font-size: 0.9em;
}

.cur-int img {
  width: 200px;
  float:left;
  margin-right: 10px;
}

.special {
  color: red;
  font-style: italic;
  font-weight: bold;
}
